<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu View</title>
</head>
<body>
    <h2>Menu View</h2>
    <p>Comandos:</p>
    <p>Exemplos:

        <span>http://localhost:8080/produto/1</span> <a href="http://localhost:8080/produto/1"> (Clique Aqui)</a>
        <br>
        (Apresenta em uma view os dados de produto de código 1 se existir, caso contrário apresenta uma mensagem de erro).
        <br> 
        <br>

        <span>http://localhost:8080/produtosEmEstoque</span> <a href="http://localhost:8080/produtosEmEstoque"> (Clique Aqui)</a>
        <br>
        (Apresenta todos os produtos em estoque em uma view)
        <br> 
        <br>

        <span>http://localhost:8080/produtosValorAcima/20</span> <a href="http://localhost:8080/produtosValorAcima/20"> (Clique Aqui)</a>
        <br>
        (Apresenta em uma view os produtos acima do valor 20)
        <br> 
        <br>

        <span> http://localhost:8080/produtosValorAbaixo/20</span> <a href=" http://localhost:8080/produtosValorAbaixo/20"> (Clique Aqui)</a>
        <br>
        (Apresenta em uma view os produtos abaixo do valor 20)
        <br> 
        <br>

    </p>
</body>
</html>